<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="(~{base::Layout(~{::section})})">
<head>
<meta charset="ISO-8859-1">
<title th:text="${title}">Password change form</title>
</head>
<body>
    <section>
		<div class="container p-3 ">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card mt-5">
					    <div class="card-body ">
				            
							<!-- otp form -->
							<h3 class="text-center" style="color:#009688!important;">Change Password Form !!</h3>
							
							<form th:action="@{/change_password}" method="post" >
							
							     <div class="form-group mt-2">
							     <label for="password">Enter your new password</label>
							     <input type="password" id="password" required="required" name="password" class="form-control " />
							     </div>
							     
							     <div class="container text-center">
							     <button type="submit" class="btn btn-success text-white">Submit</button>
							     </div>
							</form>
                        </div>
                       
					</div>
				</div>

			</div>

		</div>






	</section>
</body>
</html>